@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url(https://unpkg.com/swiper/swiper-bundle.min.css);

:root {
    --rspacing: 0.1fr;
    --cspacing: 1fr;
}

body {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: var(--cspacing) repeat(8, 1fr) var(--cspacing); 
    grid-template-rows: 0.1fr var(--rspacing) repeat(6, 0.2fr) var(--rspacing) repeat(1, 0.25fr);
    font-family: "Lato", sans-serif;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
img {
    max-width: 50%; /* Image will not exceed the container width */
    height: auto; /* Maintain aspect ratio */
}

h1 {
    font-family: 'Playfair Display';
    color: #1c613e;
    font-size: 48px;
}

h2 {
    font-family: 'Playfair Display';
    color: #832414;
}

h3 {
    font-family: 'Playfair Display';
    color: #832414;
}

.scroll-button , .translate-button{
    background-color: #ffffff;
    color: #832414;
    border: none;
    font-family: "Lato", sans-serif;
    padding: 25px;

}

.heading {
    grid-area: 1 / 2 / 2 / 10;
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    grid-template-rows: repeat(1, 1fr);

}
span {
    font-size: 20px;
    color: #676767;
    font-family: "Lato", sans-serif;



}

.heading .logo {
    grid-area: 1 / 1 / 2 / 4;
}

.heading .sections {
    text-align: right;
    grid-area: 1 / 5 / 2 / 10;
}

.container {
    display: grid;
    grid-area: 3/ 2/ 9/ 10;

    grid-template-columns: repeat(8, 1fr); 
    grid-template-rows: repeat(3, 1fr);
}

.left{
    display: grid;
    grid-area: 1/ 1/ 7/ 5;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(6, 1fr);
}

.left .title {
    grid-area: 1/1/2/3;
}

.price-details {
    grid-area: 2/1/5/6;

    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(4, 1fr);
}

.price-details .h2 {
    grid-area: 1/ 1/ 2/ 5;

}

.detail-row-1{
    grid-area: 2/1/3/6;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(1, 1fr);
}
.detail-row-1 .detail{
    grid-area: 1/1/2/5;
}
.detail-row-1 .price{
    text-align: right;
    grid-area: 1/5/2/6;
}
.detail-row-2{
    grid-area: 3/1/4/6;

    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(1, 1fr);
}
.detail-row-2 .detail{
    grid-area: 1/1/2/5;
}
.detail-row-2 .price{
    text-align: right;
    grid-area: 1/5/2/6;
}
.total-row{
    grid-area: 4/1/5/6;

    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(1, 1fr);
    
}
.total-row .detail{
    grid-area: 1/1/2/5;
    color: #000000;
}
.total-row .price{
    text-align: right;
    grid-area: 1/5/2/6;
    color: #000000;

}
.buttons {
    grid-area: 5/1/7/6;
}

.right {
    grid-area: 1/ 5/ 7/ 9;

    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(6, 1fr);
}



.detail-row, .total-row {
    display: grid;
}

.total-row {
    font-weight: bold;
}



.buttons .pay-now, .buttons .pay-later {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ead9a7;
}




/* Placeholder Image */
.image-placeholder {
    width: 100%;
    height: 100%;
    background-color: #ddd;
    grid-area: 2/2/7/5;


}

html {
    scroll-behavior: smooth;
}
