@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --rspacing: 0.1fr;
    --cspacing: 1fr;
}

body {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: var(--cspacing) repeat(8, 1fr) var(--cspacing); 
    grid-template-rows: 0.1fr var(--rspacing) repeat(5, 0.15fr) var(--rspacing) repeat(6, 0.15fr) repeat(1, 0.15fr);
    font-family: "Lato", sans-serif;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-size: 1.25vw;
}
.logo img{
    max-width: 50%; /* Image will not exceed the container width */
    height: auto; /* Maintain aspect ratio */
}

h1 {
    font-family: 'Playfair Display';
    color: #1c613e;
    font-size: 4vw;
    font-weight: 200;
}

h2 {
    font-family: 'Playfair Display';
    font-size: 2vw;

}

h3 {
    font-family: 'Playfair Display';
    color: #000000;
    font-size: 1.2vw;
    font-style: italic;
    font-weight: 100;


}

h4 {
    color: #832414;
    font-family: "Lato", sans-serif;

}

.scroll-button , .translate-button{
    background-color: #ffffff;
    color: #832414;
    border: none;
    font-family: "Lato", sans-serif;
    padding: 25px;
    font-size: 1.25vw;


}
.scroll-button:hover {
    background-color: #ead9a7;
}
.translate-button:hover {
    background-color: #ead9a7;
}
.heading {
    grid-area: 1 / 2 / 2 / 10;
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    grid-template-rows: repeat(1, 1fr);

}


.heading .logo {
    grid-area: 1 / 1 / 2 / 4;
}

.heading .sections {
    text-align: right;
    grid-area: 1 / 5 / 2 / 10;
}

.gallery {
    grid-area: 3/2/8/10;
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    grid-template-rows: repeat(5, 1fr);
}
.image1{
    grid-area: 1/1/4/4;
    width: 95%;
    height: 90%;
    margin: auto;
    border-radius: 7px; /* Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adds shadow */

}
.image2{
    grid-area: 4/1/6/4;
    width: 95%;
    height: 90%;
    margin: auto;
    border-radius: 7px; /* Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adds shadow */
    object-position: top center; /* Crops from the bottom-right */
    

}

.image3 {
    grid-area: 1/4/3/7;
    width: 95%;
    height: 85%;
    margin: auto;
    border-radius: 7px; /* Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adds shadow */
}

.image4 {
    grid-area: 3/4/6/7;
    width: 95%;
    height: 90%;
    margin: auto;
    border-radius: 7px; /* Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adds shadow */
}

.image5 {
    grid-area: 1/7/6/9;
    width: 95%;
    height: 93%;
    margin: auto;
    border-radius: 7px; /* Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adds shadow */
    
}

.room-amenities{
    grid-area: 9/2/14/7;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(3, 1fr);
}

.room-amenities .title-container{
    grid-area: 1/1/2/4;
}


.room-amenities .amenities{
    grid-area: 2/1/4/6;
    font-family: 'Playfair Display';
    color: #000000;
    font-size: 1.2vw;
    font-weight: 100;

}

.reserve-form {
    grid-area: 9/7/14/10;
    margin-bottom: 100%;
    margin-left: auto;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adds shadow */
    width: 25vw;
    

}
h2 {
    margin-bottom: 20px;
    font-weight: 100;
}
.check-info {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 15px;
}
.check-info > div {
    display: flex;
}
.check-info > div:last-child {
    border-bottom: none;
}
.check-date {
    flex: 1;
    position: relative;
}
.check-date:first-child {
    border-right: 1px solid #7a7a7a;
    border: none;
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}
.input-label {
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: 0.8vw;
    font-weight: bold;
    color: #000000;
    transition: all 0.3s ease;
}
input:focus + .input-label, input:not(:placeholder-shown) + .input-label {
    top: 3px;
    font-size: 0.5vw;
}
input, select {
    width: 100%;
    padding: 20px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}
input::placeholder {
    color: transparent;
}
.reserve-button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to bottom, #E7C038, #C9A114);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5vw;;
}
.reserve-button:hover{
    background: linear-gradient(to bottom, #C9A114, #E7C038);
}

.input-container.error input,
.check-date.error input, 
.select-container.error select {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

.input-container.error .error-message {
    display: block;
}
.check-date.error .error-message {
    display: block;
}
.select-container.error .error-message {
    display: block;
}

.reserve-button.submitted {
    background: linear-gradient(to bottom, #309026, #1c613e);
}
.reserve-button.submitted:hover {
    background: linear-gradient(to bottom,  #1c613e, #309026);
}
.reserve-button.submit-error {
    background: linear-gradient(to bottom, #b44343, #611c1c);
}
.reserve-button.submit-error:hover {
    background: linear-gradient(to bottom,  #611c1c, #b44343);
}
.reserve-button.animating {
    animation: pulse 1s;
}
@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.footer {
    grid-area: 16 / 1 / 17 / 11;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(1, 1fr);
}

footer {
    background-color: #832414;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
.footer-container {
max-width: 1200px;
margin: 0 auto;
}

.social-media {
list-style-type: none;
padding: 0;
}

.social-media li {
display: inline;
margin: 0 10px;
}

.social-media a img {
width: 30px;
height: 30px;
}

footer p {
margin-top: 15px;
font-size: 14px;
}

img {
    object-position: top center; /* Crops from the bottom-right */

}

.custom-link {
    color: inherit; /* Inherits the color of the parent element, like the h3 */
    text-decoration: none; /* Removes underline */
}

.custom-link:hover {
    color: inherit; /* Keeps the color unchanged on hover */
}
.custom-link:visited {
    color: inherit; /* Keeps the color unchanged after being clicked */
}

ul li {
    margin-bottom: 7px; /* Adjust the value to increase/decrease the spacing */
  }